@(users: java.util.List[String])

@scripts = {};

@main("Level Editor", users, scripts){

    <h1>About</h1>
    <p>
        This website has been developed for the lecture Web-Technology at the University of Applied Science Konstanz, Germany.
    </p>

    <h2>Developers</h2>

    <a href="mailto:toofterd@@htwg-konstanz.de">Tobias Ofterdinger, toofterd@@htwg-konstanz.de</a>
    <br>
    <a href="mailto:bjeschle@@htwg-konstanz.de">Björn Eschle, bjeschle@@htwg-konstanz.de</a>

    <h2>Source</h2>
    <a href="https://github.com/bjoern42/JumpNRunEditor.git">https://github.com/bjoern42/JumpNRunEditor.git</a>
}