@(form: Form[models.implementation.Login])(users: java.util.List[String])

@scripts = {};

@main("Login", users, scripts){
    @helper.form(routes.Application.authenticate) {
        <h1>Sign in</h1>

        @if(form.hasGlobalErrors) {
            <p class="error">
                @form.globalError.message
            </p>
        }

        <p>
            <input type="text" name="user" placeholder="User" value="@form("user").value">
        </p>
        <p>
            <input type="password" name="password" placeholder="Password">
        </p>
        <p>
            <button type="submit">Login</button>
        </p>
    }

    @helper.form(routes.Application.auth) {
        <p>
            <button id="google_sign_in" type="submit"></button>
        </p>
    }

    <header>
        <a href="@routes.Application.index">home</a>
    </header>
}